body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  align-items: center;
  border-bottom: 1px solid #dddddd;
  display: flex;
  justify-content: center;
}

.filter_element {
  margin: 10px;
}

.number_select {
  min-width: 290px;
}

@media screen and (max-width: 768px)
{
  .filter_element {
    width: 100%;
  }

  .number_select {
    width: 95%;
  }
}

.content {
  margin: 20px;
}

.tour_card {
  display: inline-block;
  margin: 18px;
  border: 1px solid #999;
  border-radius: 10px;
  height: 400px;
  overflow: hidden;
  width: 350px;
}

.tour_card_image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60%;
}

.tour_card_margin {
  margin: 5px;
}

.tour_card_title {
  font-weight: bold;
}

.tours_not_found_message {
  text-align: center;
}
